__pycache__/
*.pyc
*.pyo

__pycache__
forms\__pycache__

saved_forms/
formularios_cardiologicos/
formularios_politraumatizados/
/forms/__pycache__
/__pycache__
/forms/__pycache__
__pycache__/app.cpython-312.pyc
