{% extends "layout.html" %}

{% block title %}Formulario GUIA T CARDIOLÓGICO{% endblock %}

{% block content %}

{% from "macro.html" import show_errors %}

<div class="container mt-5">

    <div class="texto-centro mb-5">
        <h1 class="titulo-principal">Formulario para Paciente Cardiológico</h1>
    </div>

    <form method="POST" class="mb-4" novalidate>
        {{ form.hidden_tag() }}

        <div class="form-group row mb-3">
            {{ form.nombre_paciente.label(for="nombre_paciente", class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.nombre_paciente(class="form-control", id="nombre_paciente", placeholder="Ingresar nombre del paciente.") }}
                {{ show_errors(form.nombre_paciente) }}
            </div>
        </div>

        <div class="form-group row mb-3">
            {{ form.motivo_ingreso_diag.label(for="motivo_ingreso", class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.motivo_ingreso_diag(class="form-control", id="motivo_ingreso", placeholder="Ingresar motivo del ingreso o diagnóstico.") }}
            </div>
        </div>

        <div class="form-group row mb-3">
            <div class="col-md-6">
                <div class="form-check">
                    {{ form.dolor_precordial(class="form-check-input", id="dolor_precordial") }}
                    {{ form.dolor_precordial.label(class="form-check-label", for="dolor_precordial") }}
                </div>
                <div class="form-check">
                    {{ form.scasest(class="form-check-input", id="scasest") }}
                    {{ form.scasest.label(class="form-check-label", for="scasest") }}
                </div>
                <div class="form-check">
                    {{ form.scacest(class="form-check-input", id="scacest") }}
                    {{ form.scacest.label(class="form-check-label", for="scacest") }}
                </div>
                <div class="form-check">
                    {{ form.shock(class="form-check-input", id="shock") }}
                    {{ form.shock.label(class="form-check-label", for="shock") }}
                </div>
                <div class="form-check">
                    {{ form.arritmia(class="form-check-input", id="arritmia") }}
                    {{ form.arritmia.label(class="form-check-label", for="arritmia") }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check">
                    {{ form.insuficiencia_cardiaca_descompensada(class="form-check-input", id="insuficiencia_cardiaca_descompensada") }}
                    {{ form.insuficiencia_cardiaca_descompensada.label(class="form-check-label", for="insuficiencia_cardiaca_descompensada") }}
                </div>
                <div class="form-check">
                    {{ form.pericarditis(class="form-check-input", id="pericarditis") }}
                    {{ form.pericarditis.label(class="form-check-label", for="pericarditis") }}
                </div>
                <div class="form-check">
                    {{ form.emergencia_hipertensiva(class="form-check-input", id="emergencia_hipertensiva") }}
                    {{ form.emergencia_hipertensiva.label(class="form-check-label", for="emergencia_hipertensiva") }}
                </div>
                <div class="form-check">
                    {{ form.sincope(class="form-check-input", id="sincope") }}
                    {{ form.sincope.label(class="form-check-label", for="sincope") }}
                </div>
                <div class="form-check">
                    {{ form.tep(class="form-check-input", id="tep") }}
                    {{ form.tep.label(class="form-check-label", for="tep") }}
                </div>
            </div>
        </div>

        <div class="form-group row mb-3">
            {{ form.antecedentes.label }}
            {{ form.antecedentes(class="form-control", placeholder="Ingresar antecedentes.") }}
        </div>
        
        <div class="form-group row mb-3">
            {{ form.enfermedad_actual.label(for="nombre_paciente", class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.enfermedad_actual(class="form-control", id="nombre_paciente", placeholder="Ingresar enfermedad actual.") }}
            </div>
        </div>

        <div class="form-group row mb-3">
            <div class="col-md-6">
                <div class="form-check">
                    {{ form.disnea(class="form-check-input", id="disnea") }}
                    {{ form.disnea.label(class="form-check-label", for="disnea") }}
                </div>
                <div class="form-check">
                    {{ form.dolor_precordial_tipico(class="form-check-input", id="dolor_precordial_tipico") }}
                    {{ form.dolor_precordial_tipico.label(class="form-check-label", for="dolor_precordial_tipico") }}
                </div>
                <div class="form-check">
                    {{ form.hta(class="form-check-input", id="hta") }}
                    {{ form.hta.label(class="form-check-label", for="hta") }}
                </div>
                <div class="form-check">
                    {{ form.mareos(class="form-check-input", id="mareos") }}
                    {{ form.mareos.label(class="form-check-label", for="mareos") }}
                </div>
                <div class="form-check">
                    {{ form.palpitaciones(class="form-check-input", id="palpitaciones") }}
                    {{ form.palpitaciones.label(class="form-check-label", for="palpitaciones") }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check">
                    {{ form.taquicardia(class="form-check-input", id="taquicardia") }}
                    {{ form.taquicardia.label(class="form-check-label", for="taquicardia") }}
                </div>
                <div class="form-check">
                    {{ form.bradicardia(class="form-check-input", id="bradicardia") }}
                    {{ form.bradicardia.label(class="form-check-label", for="bradicardia") }}
                </div>
                <div class="form-check">
                    {{ form.hipotension_shock(class="form-check-input", id="hipotension_shock") }}
                    {{ form.hipotension_shock.label(class="form-check-label", for="hipotension_shock") }}
                </div>
                <div class="form-check">
                    {{ form.cianosis(class="form-check-input", id="cianosis") }}
                    {{ form.cianosis.label(class="form-check-label", for="cianosis") }}
                </div>
            </div>
        </div>

        <div class="form-group row mb-3">
            {{ form.examen_fisico.label }}
            {{ form.examen_fisico(class="form-control", placeholder="Ingresar examen físico.") }}
        </div>

        <div class="form-group row mb-3">
            {{ form.signos_vitales.label }}
            {{ form.signos_vitales(class="form-control", placeholder="Ingresar signos vitales.") }}
        </div>

        <div class="form-group row mb-3">
            {{ form.respiratorio.label }}
            {{ form.respiratorio(class="form-control", placeholder="Ingresar situació respiratoria.") }}
        </div>

        <div class="form-group row mb-3">
            <div class="col-md-6">
                <div class="form-check">
                    {{ form.mecanica_ventilatoria(class="form-check-input", id="mecanica_ventilatoria") }}
                    {{ form.mecanica_ventilatoria.label(class="form-check-label", for="mecanica_ventilatoria") }}
                </div>
                <div class="form-check">
                    {{ form.buena_entrada_aire_bilateral(class="form-check-input", id="buena_entrada_aire_bilateral") }}
                    {{ form.buena_entrada_aire_bilateral.label(class="form-check-label", for="buena_entrada_aire_bilateral") }}
                </div>
                <div class="form-check">
                    {{ form.hipoventilacion_izq(class="form-check-input", id="hipoventilacion_izq") }}
                    {{ form.hipoventilacion_izq.label(class="form-check-label", for="hipoventilacion_izq") }}
                </div>
                <div class="form-check">
                    {{ form.hipoventilacion_der(class="form-check-input", id="hipoventilacion_der") }}
                    {{ form.hipoventilacion_der.label(class="form-check-label", for="hipoventilacion_der") }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check">
                    {{ form.roncus(class="form-check-input", id="roncus") }}
                    {{ form.roncus.label(class="form-check-label", for="roncus") }}
                </div>
                <div class="form-check">
                    {{ form.sibilancias(class="form-check-input", id="sibilancias") }}
                    {{ form.sibilancias.label(class="form-check-label", for="sibilancias") }}
                </div>
                <div class="form-check">
                    {{ form.rales(class="form-check-input", id="rales") }}
                    {{ form.rales.label(class="form-check-label", for="rales") }}
                </div>
                <div class="form-check">
                    {{ form.arm(class="form-check-input", id="arm") }}
                    {{ form.arm.label(class="form-check-label", for="arm") }}
                </div>
            </div>
        </div>

        <div class="form-group row mb-3">
            {{ form.cardiovascular.label }}
            {{ form.cardiovascular(class="form-control", placeholder="Ingresar situación cardiovascular.") }}
        </div>

        <div class="form-group row mb-3">
            {{ form.ta.label(for="ta", class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.ta(class="form-control", id="ta", placeholder="Ingresar tensión arterial.") }}
            </div>
        </div>

        <div class="form-group row mb-3">
            {{ form.tam.label(for="tam", class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.tam(class="form-control", id="tam", placeholder="Ingresar tensión arterial media.") }}
            </div>
        </div>

        <div class="form-group row mb-3">
            {{ form.pvc.label(for="pvc", class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.pvc(class="form-control", id="pvc", placeholder="Ingresar presión venosa central.") }}
            </div>
        </div>

        <div class="form-group row mb-3">
            {{ form.fc.label(for="fc", class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.fc(class="form-control", id="fc", placeholder="Ingresar frecuencia cardíaca.") }}
            </div>
        </div>

        <div class="form-group row mb-3">
            <div class="col-md-6">
                <div class="form-check">
                    {{ form.relleno_capilar(class="form-check-input", id="relleno_capilar") }}
                    {{ form.relleno_capilar.label(class="form-check-label", for="relleno_capilar") }}
                </div>
                <div class="form-check">
                    {{ form.soplos(class="form-check-input", id="soplos") }}
                    {{ form.soplos.label(class="form-check-label", for="soplos") }}
                </div>
                <div class="form-check">
                    {{ form.ingurgitacion_yugular(class="form-check-input", id="ingurgitacion_yugular") }}
                    {{ form.ingurgitacion_yugular.label(class="form-check-label", for="ingurgitacion_yugular") }}
                </div>
                <div class="form-check">
                    {{ form.edemas(class="form-check-input", id="edemas") }}
                    {{ form.edemas.label(class="form-check-label", for="edemas") }}
                </div>
                <div class="form-check">
                    {{ form.pulsos_regulares(class="form-check-input", id="pulsos_regulares") }}
                    {{ form.pulsos_regulares.label(class="form-check-label", for="pulsos_regulares") }}
                </div>
                <div class="form-check">
                    {{ form.inotropicos(class="form-check-input", id="inotropicos") }}
                    {{ form.inotropicos.label(class="form-check-label", for="inotropicos") }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check">
                    {{ form.pulsos_irregulares(class="form-check-input", id="pulsos_irregulares") }}
                    {{ form.pulsos_irregulares.label(class="form-check-label", for="pulsos_irregulares") }}
                </div>
                <div class="form-check">
                    {{ form.fallo_bomba(class="form-check-input", id="fallo_bomba") }}
                    {{ form.fallo_bomba.label(class="form-check-label", for="fallo_bomba") }}
                </div>
                <div class="form-check">
                    {{ form.killip_kimball(class="form-check-input", id="killip_kimball") }}
                    {{ form.killip_kimball.label(class="form-check-label", for="killip_kimball") }}
                </div>
                <div class="form-check">
                    {{ form.derrame_pericardico(class="form-check-input", id="derrame_pericardico") }}
                    {{ form.derrame_pericardico.label(class="form-check-label", for="derrame_pericardico") }}
                </div>
                <div class="form-check">
                    {{ form.aceptable_perfusion_periferica(class="form-check-input", id="aceptable_perfusion_periferica") }}
                    {{ form.aceptable_perfusion_periferica.label(class="form-check-label", for="aceptable_perfusion_periferica") }}
                </div>
                <div class="form-check">
                    {{ form.shock_2(class="form-check-input", id="shock_2") }}
                    {{ form.shock_2.label(class="form-check-label", for="shock_2") }}
                </div>
            </div>
        </div>

        <div class="form-group row mb-3">
            {{ form.abdomen.label }}
            {{ form.abdomen(class="form-control", placeholder="Ingresar informacion de abdomen.") }}
        </div>

        <div class="form-group row mb-3">
            <div class="col-md-6">
                <div class="form-check">
                    {{ form.blando_depresible_indoloro(class="form-check-input", id="blando_depresible_indoloro") }}
                    {{ form.blando_depresible_indoloro.label(class="form-check-label", for="blando_depresible_indoloro") }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check">
                    {{ form.rha(class="form-check-input", id="rha") }}
                    {{ form.rha.label(class="form-check-label", for="rha") }}
                </div>
            </div>
        </div>

        <div class="form-group row mb-3">
            {{ form.diuresis.label }}   
            {{ form.diuresis(class="form-control", placeholder="Ingresar diuresis.") }}
        </div>

        <div class="form-group row mb-3">
            <div class="col-md-6">
                <div class="form-check">
                    {{ form.sonda_vesical(class="form-check-input", id="sonda_vesical") }}
                    {{ form.sonda_vesical.label(class="form-check-label", for="sonda_vesical") }}
                </div>
            </div>
        </div>
        
        <div class="form-group row mb-3">
            {{ form.neurologico.label }}
            {{ form.neurologico(class="form-control", placeholder="Ingresar situación neurológica.") }}
        </div>
        
        <div class="form-group row mb-3">
            <div class="col-md-6">
                <div class="form-check">
                    {{ form.bajo_sedoanalgesia(class="form-check-input", id="bajo_sedoanalgesia") }}
                    {{ form.bajo_sedoanalgesia.label(class="form-check-label", for="bajo_sedoanalgesia") }}
                </div>
            </div>
        </div>
        
        <div class="form-group row mb-3">
            {{ form.glasgow.label(for="glasgow", class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.glasgow(class="form-control", id="glasgow", placeholder="Ingresar glasgow.") }} 
            </div>
        </div>
        
        <div class="form-group row mb-3">
            {{ form.pupilas.label(for="pupilas", class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.pupilas(class="form-control", id="pupilas", placeholder="Ingresar pupilas.") }} 
            </div>
        </div>

        <div class="form-group row mb-3">
            {{ form.foco_motor.label(for="foco_motor", class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.foco_motor(class="form-control", id="foco_motor", placeholder="Ingresar foco motor.") }} 
            </div>
        </div>
        
        <div class="form-group row mb-3">
            {{ form.laboratorio.label }}
            {{ form.laboratorio(class="form-control", placeholder="Ingresar laboratorio.") }}
        </div>
        
        <div class="form-group row mb-3">
            {{ form.ecg.label }}
            {{ form.ecg(class="form-control", placeholder="Ingresar ECG.") }}
        </div>
        
        <div class="form-group row mb-3">
            {{ form.ecocardiograma.label }}
            {{ form.ecocardiograma(class="form-control", placeholder="Ingresar ecocardiograma.") }}
        </div>

        <div class="text-center mt-4">
            <a href="{{ url_for('generar_planilla') }}" class="btn btn-secondary me-2">Volver a Seleccionar Guía</a>
            {{ form.submit(class="btn btn-primary", value="Guardar") }}
        </div>
    </form>
</div>

{% endblock %}
