{% extends "layout.html"%}

{% block title %}Formulario GUIA T CARDIOLÓGICO{% endblock %}

{% block content %}

{% from "macro.html" import show_errors %}

</div>
    <div class="container mt-5">

        <a href="{{ url_for('generar_planilla') }}" class="btn btn-secondary mb-3">Volver a Seleccionar Guía</a>

        <h1 class="text-center mb-4">Formulario GUIA T CARDIOLÓGICO</h1>

        <form method="POST" class="mb-4" novalidate>

            {{ form.hidden_tag() }}

            <div class="form-group mb-3">
                {{ form.nombre_paciente.label }}
                {{ form.nombre_paciente(class="form-control", placeholder="Ingresar nombre del paciente.") }}
                {{ show_errors(form.nombre_paciente) }}
            </div>

            <div class="form-group mb-3">
                {{ form.motivo_ingreso_diag.label }}
                {{ form.motivo_ingreso_diag(class="form-control", placeholder="Ingresar motivo del ingreso o diagnóstico.") }}
            </div>

            <div class="form-group mb-3">
                {{ form.dolor_precordial.label }}
                {{ form.dolor_precordial(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.scasest.label }}
                {{ form.scasest(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.scacest.label }}
                {{ form.scacest(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.insuficiencia_cardiaca_descompensada.label}}
                {{ form.insuficiencia_cardiaca_descompensada(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.pericarditis.label }}
                {{ form.pericarditis(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.emergencia_hipertensiva.label}}
                {{ form.emergencia_hipertensiva(class="form-check-input") }}
            </div>

            <div class="mb-3">
                {{ form.sincope.label }}        
                {{ form.sincope() }} 
            </div>

            <div class="form-group mb-3">
                {{ form.shock.label }}
                {{ form.shock(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.tep.label }}
                {{ form.tep(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.arritmia.label }}
                {{ form.arritmia(class="form-check-input") }}
            </div>

            <!-- Antecedentes -->
            <div class="form-group mb-3">
                {{ form.antecedentes.label }}
                {{ form.antecedentes(class="form-control", placeholder="Ingresar antecedentes.") }}
            </div>
            
            <div class="mb-3">
                {{ form.enfermedad_actual.label }}
                {{ form.enfermedad_actual(class="form-control") }}
            </div>

            <div class="form-group mb-3">
                {{ form.disnea.label }}
                {{ form.disnea(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.dolor_precordial_tipico.label }}
                {{ form.dolor_precordial_tipico(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.hta.label }}
                {{ form.hta(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.mareos.label }}
                {{ form.mareos(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.palpitaciones.label }}
                {{ form.palpitaciones(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.taquicardia.label }}
                {{ form.taquicardia(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.bradicardia.label }}
                {{ form.bradicardia(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.hipotension_shock.label}}
                {{ form.hipotension_shock(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.cianosis.label }}
                {{ form.cianosis(class="form-check-input") }}
            </div>

            <div class="mb-3">
                {{ form.examen_fisico.label }}
                {{ form.examen_fisico(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.signos_vitales.label }}
                {{ form.signos_vitales(class="form-control") }}
            </div>

            <div class="form-group mb-3">
                {{ form.respiratorio.label }}
                {{ form.respiratorio(class="form-control", placeholder="Ingresar situación respiratoria.") }}
            </div>

            <div class="form-group mb-3">
                {{ form.mecanica_ventilatoria.label}}
                {{ form.mecanica_ventilatoria(class="form-control", placeholder="Ingresar mecánica ventilatoria.") }}
            </div>

            <div class="form-group mb-3">
                {{ form.buena_entrada_aire_bilateral.label }}
                {{ form.buena_entrada_aire_bilateral(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.hipoventilacion_der.label }}
                {{ form.hipoventilacion_der(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.hipoventilacion_izq.label }}
                {{ form.hipoventilacion_izq(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.roncus.label }}
                {{ form.roncus(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.sibilancias.label }}
                {{ form.sibilancias(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.rales.label }}
                {{ form.rales(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.arm.label }}
                {{ form.arm(class="form-check-input") }}
            </div>

            <div class="mb-3">
                {{ form.cardiovascular.label }}
                {{ form.cardiovascular(class="form-control") }}
            </div>

            <div class="form-group mb-3">
                {{ form.ta.label }}
                {{ form.ta(class="form-control", placeholder="Ingresar tensión arterial.") }}
            </div>

            <div class="form-group mb-3">
                {{ form.tam.label }}
                {{ form.tam(class="form-control", placeholder="Ingresar tensión arterial media.") }}
            </div>

            <div class="form-group mb-3">
                {{ form.pvc.label }}
                {{ form.pvc(class="form-control", placeholder="Ingresar presión venosa central.") }}
            </div>

            <div class="form-group mb-3">
                {{ form.fc.label }}
                {{ form.fc(class="form-control", placeholder="Ingresar frecuencia cardíaca.") }}
            </div>

            <div class="form-group mb-3">
                {{ form.relleno_capilar.label }}
                {{ form.relleno_capilar(class="form-control", placeholder="Ingresar relleno capilar.") }}
            </div>

            <!-- Otros campos -->
            <div class="form-group mb-3">
                {{ form.soplos.label }}
                {{ form.soplos(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.ingurgitacion_yugular.label}}
                {{ form.ingurgitacion_yugular(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.edemas.label }}
                {{ form.edemas(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.pulsos_regulares.label }}
                {{ form.pulsos_regulares(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.pulsos_irregulares.label }}
                {{ form.pulsos_irregulares(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.fallo_bomba.label }}
                {{ form.fallo_bomba(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.killip_kimball.label }}
                {{ form.killip_kimball(class="form-control", placeholder="Ingresar Killip-Kimball.") }}
            </div>

            <div class="form-group mb-3">
                {{ form.derrame_pericardico.label}}
                {{ form.derrame_pericardico(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.aceptable_perfusion_periferica.label }}
                {{ form.aceptable_perfusion_periferica(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.shock_2.label }}
                {{ form.shock_2(class="form-check-input") }}
            </div>

            <div class="form-group mb-3">
                {{ form.inotropicos.label }}
                {{ form.inotropicos(class="form-check-input") }}
            </div>

            <!-- Otros campos relacionados con abdomen, diuresis, etc. -->
            <div class="form-group mb-3">
                {{ form.abdomen.label }}
                {{ form.abdomen(class="form-control", placeholder="Ingresar informacion de abdomen.") }}
            </div>

            <div class="mb-3">
                {{ form.blando_depresible_indoloro.label }}
                {{ form.blando_depresible_indoloro() }} 
            </div>

            <div class="form-group mb-3">
                {{ form.rha.label}}
                {{ form.rha(class="form-control", placeholder="Ingresar RHA.") }}
            </div>

            <div class="mb-3">
                {{ form.diuresis.label }}   
                {{ form.diuresis(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.sonda_vesical.label }}
                {{ form.sonda_vesical() }}
            </div>
            
            <div class="mb-3">
                {{ form.neurologico.label }}
                {{ form.neurologico(class="form-control") }}
            </div>
            
            <div class="mb-3">
                {{ form.bajo_sedoanalgesia.label }}
                {{ form.bajo_sedoanalgesia() }} 
            </div>
            
            <div class="mb-3">
                {{ form.glasgow.label}}
                {{ form.glasgow() }} 
            </div>
            
            <div class="mb-3">
                {{ form.pupilas.label }}
                {{ form.pupilas() }} 
            </div>
            
            <div class="mb-3">
                {{ form.foco_motor.label }}
                {{ form.foco_motor() }} 
            </div>
            
            <div class="mb-3">
                {{ form.laboratorio.label }}
                {{ form.laboratorio(class="form-control") }}
            </div>
            
            <div class="mb-3">
                {{ form.ecg.label }}
                {{ form.ecg(class="form-control") }}
            </div>
            
            <div class="mb-3">
                {{ form.ecocardiograma.label }}
                {{ form.ecocardiograma(class="form-control") }}
            </div>

            {{ form.submit(class="btn btn-primary", value="Guardar") }}
        </form>
    </div>
</div>

{% endblock %}
