<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario GUIA T CARDIOLÓGICO</title>
</head>
<body>

     <a href="{{ url_for('home') }}">
        <button type="button">Volver al Menú Principal</button>
    </a>
    
    <a href="{{ url_for('generar_planilla') }}">
        <button type="button">Volver a Seleccionar Guía</button>
    </a>
   
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}


    <h1>Formulario GUIA T CARDIOLÓGICO</h1>
    <form method="POST">
        {{ form.hidden_tag() }} <!-- Para incluir un token CSRF para proteger el formulario -->

        <!-- Nombre del Paciente -->
        <div class="mb-3">
            <label for="nombre_paciente" class="form-label">Nombre del Paciente</label>
            {{ form.nombre_paciente(class="form-control") }}
        </div>

        
        <div class="mb-3">
            <label for="motivo_ingreso_diag" class="form-label">Motivo de Ingreso/Diag:</label>
            {{ form.motivo_ingreso_diag(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.dolor_precordial() }} Dolor Precordial
        </div>

        <div class="mb-3">
            {{ form.scasest() }} SCASEST
        </div>

        <div class="mb-3">
            {{ form.scacest() }} SCACEST
        </div>

        <div class="mb-3">
            {{ form.insuficiencia_cardiaca_descompensada() }} Insuficiencia Cardíaca Descompensada
        </div>

        <div class="mb-3">
            {{ form.pericarditis() }} Pericarditis
        </div>

        <div class="mb-3">
            {{ form.emergencia_hipertensiva() }} Emergencia Hipertensiva
        </div>

        <div class="mb-3">
            {{ form.sincope() }} Síncope
        </div>

        <div class="mb-3">
            {{ form.shock() }} Shock
        </div>

        <div class="mb-3">
            {{ form.tep() }} TEP
        </div>

        <div class="mb-3">
            {{ form.arritmia() }} Arritmia
        </div>

        
        <div class="mb-3">
            <label for="antecedentes" class="form-label">Antecedentes:</label>
            {{ form.antecedentes(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="enfermedad_actual" class="form-label">Enfermedad Actual:</label>
            {{ form.enfermedad_actual(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.disnea() }} Disnea
        </div>

        <div class="mb-3">
            {{ form.dolor_precordial_tipico() }} Dolor Precordial Típico
        </div>

        <div class="mb-3">
            {{ form.hta() }} HTA
        </div>

        <div class="mb-3">
            {{ form.mareos() }} Mareos
        </div>

        <div class="mb-3">
            {{ form.palpitaciones() }} Palpitaciones
        </div>

        <div class="mb-3">
            {{ form.taquicardia() }} Taquicardia
        </div>

        <div class="mb-3">
            {{ form.bradicardia() }} Bradicardia
        </div>

        <div class="mb-3">
            {{ form.hipotension_shock() }} Hipotensión/Shock
        </div>

        <div class="mb-3">
            {{ form.cianosis() }} Cianosis
        </div>

        
        <div class="mb-3">
            <label for="examen_fisico" class="form-label">Examen Físico:</label>
            {{ form.examen_fisico(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="signos_vitales" class="form-label">Signos Vitales:</label>
            {{ form.signos_vitales(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="respiratorio" class="form-label">Respiratorio:</label>
            {{ form.respiratorio(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.mecanica_ventilatoria() }} Mecánica Ventilatoria
        </div>

        <div class="mb-3">
            {{ form.buena_entrada_aire_bilateral() }} Buena Entrada de Aire Bilateral
        </div>

        <div class="mb-3">
            {{ form.hipoventilacion_der() }} Hipoventilación DER
        </div>

        <div class="mb-3">
            {{ form.hipoventilacion_izq() }} Hipoventilación IZQ
        </div>

        <div class="mb-3">
            {{ form.roncus() }} Roncus
        </div>

        <div class="mb-3">
            {{ form.sibilancias() }} Sibilancias
        </div>

        <div class="mb-3">
            {{ form.rales() }} Rales
        </div>

        <div class="mb-3">
            {{ form.arm() }} ARM
        </div>

        <div class="mb-3">
            <label for="cardiovascular" class="form-label">Cardiovascular:</label>
            {{ form.cardiovascular(class="form-control") }}
        </div>

                
        <div class="mb-3">
            <label for="ta" class="form-label">TA:</label>
            {{ form.ta(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="tam" class="form-label">TAM:</label>
            {{ form.tam(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="pvc" class="form-label">PVC:</label>
            {{ form.pvc(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="fc" class="form-label">FC:</label>
            {{ form.fc(class="form-control") }}
        </div>
        
        <div class="mb-3">
            {{ form.relleno_capilar() }} Relleno Capilar
        </div>

        <div class="mb-3">
            {{ form.r1_r2_normofoneticos() }} R1 y R2 Normofonéticos
        </div>

        <div class="mb-3">
            {{ form.soplos() }} Soplos
        </div>

        <div class="mb-3">
            {{ form.ingurgitacion_yugular() }} Ingurgitación Yugular
        </div>

        <div class="mb-3">
            {{ form.edemas() }} Edemas
        </div>

        <div class="mb-3">
            {{ form.pulsos_regulares() }} Pulsos Regulares
        </div>

        <div class="mb-3">
            {{ form.pulsos_irregulares() }} Pulsos Irregulares
        </div>

        <div class="mb-3">
            {{ form.fallo_bomba() }} Fallo de Bomba
        </div>

        <div class="mb-3">
            {{ form.killip_kimball() }} Killip-Kimball
        </div>

        <div class="mb-3">
            {{ form.derrame_pericardico() }} Derrame Pericárdico
        </div>

        <div class="mb-3">
            {{ form.aceptable_perfusion_periferica() }} Aceptable Perfusión Periférica
        </div>

        <div class="mb-3">
            {{ form.shock_2() }} Shock
        </div>

        <div class="mb-3">
            {{ form.inotropicos() }} Inotrópicos
        </div>

        <div class="mb-3">
            <label for="abdomen" class="form-label">Abdomen:</label>
            {{ form.abdomen(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.blando_depresible_indoloro() }} Blando, Depresible, Indoloro
        </div>

        <div class="mb-3">
            {{ form.rha() }} RHA
        </div>

        <div class="mb-3">
            <label for="diuresis" class="form-label">Diuresis:</label>
            {{ form.diuresis(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.sonda_vesical() }} Sonda Vesical
        </div>

        <div class="mb-3">
            <label for="neurologico" class="form-label">Neurológico:</label>
            {{ form.neurologico(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.bajo_sedoanalgesia() }} Bajo Sedoanalgesia
        </div>

        <div class="mb-3">
            {{ form.glasgow() }} Glasgow
        </div>

        <div class="mb-3">
            {{ form.pupilas() }} Pupilas
        </div>

        <div class="mb-3">
            {{ form.foco_motor() }} Foco Motor
        </div>

        <div class="mb-3">
            <label for="laboratorio" class="form-label">Laboratorio:</label>
            {{ form.laboratorio(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="ecg" class="form-label">ECG:</label>
            {{ form.ecg(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="ecocardiograma" class="form-label">Ecocardiograma:</label>
            {{ form.ecocardiograma(class="form-control") }}
        </div>


        <!-- Botón para enviar el formulario -->
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    {% if form.errors %}
        <ul>
            {% for field, errors in form.errors.items() %}
                <li><strong>{{ field.label.text }}:</strong>
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
