{% extends "layout.html" %}

{% block title %}Página Principal{% endblock %}

{% block content %}
<div class="contenedor-principal py-5 d-flex justify-content-center align-items-center" >
    <div class="texto-centro text-center mb-5">
        <h1 class="titulo-principal">
            Bienvenido al sistema de gestión
        </h1>
        <h2 class="subtitulo">
            Servicio de Terapia Intensiva del Hospital Comunitario de Pinamar
        </h2>
    </div>
</div>

<img src="{{ url_for('static', filename='images/hospital1.webp') }}" class="img-fluid d-block mx-auto" alt="Imagen 1" style="max-width: 50%; height: auto; border-radius: 15px;">

{% endblock %}
