<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <h1>Bienvenido a la Aplicación</h1>
    <button onclick="window.location.href='/generar_planilla'">Generar Planilla</button>
    <button onclick="window.location.href='/editar_planilla'">Editar Planilla</button>
    <button onclick="window.location.href='/ver_planilla'">Ver Planilla</button>
</body>
</html>
