{% extends "layout.html" %}

{% block title %}Página Principal{% endblock %}

{% block content %}

<div class="contenedor-principal py-5">
    <!-- Encabezado con estilo -->
    <div class="texto-centro mb-5">
        <h1 class="titulo-principal">
            Bienvenido al sistema de gestión
        </h1>
        <h2 class="subtitulo">
            Servicio de Terapia Intensiva del Hospital Comunitario de Pinamar
        </h2>
        <p class="texto-destacado texto-suave">
            Aquí podrá realizar y gestionar tareas esenciales de forma rápida y eficiente.
        </p>
    </div>
</div>

{% endblock %}
