<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Guía</title>
</head>
<body>
    <button onclick="window.location.href='/'">Volver</button>
    <h1>Selecciona una Guía</h1>
    <button onclick="window.location.href='/guia_t_cardiologico'">GUIA T CARDIOLÓGICO</button>
    <button onclick="window.location.href='/guia_t_politraumatizado'">GUIA T POLITRAUMATIZADO</button>
</body>
</html>
