{% extends "layout.html"%}

{% block title %} Seleccionar Planilla {% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Seleccionar tipo de planilla</h1>
    <div class="form-container mx-auto">
        <form method="POST" id="form_select" class="mb-4">
            <div class="form-group mb-3">
                <label for="tipo_planilla">Seleccionar tipo de planilla:</label>
                <select id="tipo_planilla" name="tipo_planilla" class="form-control">
                    <option value="" disabled {% if not tipo_planilla %}selected{% endif %}>Seleccione un tipo</option>
                    <option value="cardiologico" {% if tipo_planilla == 'cardiologico' %}selected{% endif %}>Cardiológico</option>
                    <option value="politraumatizado" {% if tipo_planilla == 'politraumatizado' %}selected{% endif %}>Politraumatizado</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="buscar_nombre">Buscar por nombre:</label>
                <input type="text" id="buscar_nombre" name="buscar_nombre" value="{{ buscar_nombre }}" placeholder="Buscar nombre..." class="form-control">
            </div>
            
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>

    {% if tipo_planilla %}
        <div id="lista_planillas" class="mt-4">
            <h2 class="text-center mb-4">Planillas guardadas:</h2>
            <ul id="archivos" class="list-group">
                {% if archivos %}
                    {% for archivo in archivos %}
                        {% if tipo_planilla == 'cardiologico' %}
                            <li class="list-group-item">
                                <a href="{{ url_for('detalle_cardiologico', archivo=archivo) }}" class="text-decoration-none">{{ archivo }}</a>
                                <button type="button" class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#confirmDeleteModal" data-archivo="{{ archivo }}" data-tipo-planilla="{{ tipo_planilla }}">
                                    <i class="fas fa-times">X</i>
                                </button>
                            </li>
                        {% elif tipo_planilla == 'politraumatizado' %}
                            <li class="list-group-item">
                                <a href="{{ url_for('detalle_politraumatizado', archivo=archivo) }}" class="text-decoration-none">{{ archivo }}</a>
                                <button type="button" class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#confirmDeleteModal" data-archivo="{{ archivo }}" data-tipo-planilla="{{ tipo_planilla }}">
                                    <i class="fas fa-times">X</i>
                                </button>
                            </li>
                        {% endif %}                 
                    {% endfor %}
                {% else %}
                    <li class="list-group-item text-center">No se encontraron formularios.</li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    <a href="{{ url_for('home') }}" class="btn btn-secondary mt-3">Volver</a>
</div>


<!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este archivo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <form id="deleteForm" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Script para configurar el archivo y tipo de planilla a eliminar en el modal -->
<script>
    $('#confirmDeleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var archivo = button.data('archivo');
        var tipo_planilla = button.data('tipo-planilla');
        
        var form = $('#deleteForm');
        form.attr('action', '/eliminar_archivo/' + archivo + '/' + tipo_planilla);  // Ajusta la URL según tu ruta de eliminación
    });
</script>
{% endblock %}