{% extends "layout.html" %}

{% block title %}Seleccionar Guía{% endblock %}

{% block content %}
    <h1 class="text-center my-4">Selecciona una Guía</h1>
    <div class="container text-center">
        <div class="btn-group mt-3">
            <button onclick="window.location.href='/guia_t_cardiologico'" class="btn btn-success mx-2">GUIA T CARDIOLÓGICO</button>
            <button onclick="window.location.href='/guia_t_politraumatizado'" class="btn btn-success mx-2">GUIA T POLITRAUMATIZADO</button>
        </div>
        <div class="mt-3">
            <button onclick="window.location.href='/'" class="btn btn-secondary">Volver</button>
        </div>
    </div>
{% endblock %}