.alert {
    opacity: 0; /* Inicia invisible */
    transition: opacity 1s ease; /* Suaviza los cambios de opacidad */
}

.alert.fadein {
    opacity: 1; /* Cambia la opacidad a 1 para el efecto de aparición */
}

.alert.fadeout {
    opacity: 0; /* Cambia la opacidad a 0 para el efecto de desaparición */
}
